<div class="vdu">
    <ul>
        <li>CHESS</li>
        <li>POKER</li>
        <li>FIGHTER COMBAT</li>
        <li>GUERILLA ENGAGEMENT</li>
        <li>DESERT WARFARE</li>
        <li>AIR-TO-GROUND TACTICS</li>
        <li>THEATERWIDE TACTICAL WARFARE</li>
        <li>THEATERWIDE BIOTOXIC AND CHEMICAL WARFARE</li>
        <li>&nbsp;</li>        
        <li>&gt; GLOBAL THERMONUCLEAR WAR</li>
        <li>&nbsp;</li>
        <li class="error">ERROR 404 - NOT FOUND<div class="cursor">&nbsp;</div></li>
    </ul>    
</div>